In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("../Materials/customer_info.csv")

In [12]:
df.describe()

,Unnamed: 0,ID,type,lng,lat,pack_total_weight,pack_total_volume,first_receive_tm,last_receive_tm
count,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,500.500000,500.500000,2.0,116.382137,39.931063,0.280268,0.668203,194.820000,293.22000
std,288.819436,288.819436,0.0,0.153507,0.117149,0.361635,1.102173,102.570406,103.30975
min,1.000000,1.000000,2.0,116.100162,39.693569,0.010000,0.012200,60.000000,120.00000
25%,250.750000,250.750000,2.0,116.261446,39.842764,0.048000,0.149050,90.000000,180.00000
50%,500.500000,500.500000,2.0,116.372360,39.926852,0.166195,0.342000,180.000000,300.00000
75%,750.250000,750.250000,2.0,116.505035,40.023562,0.341595,0.719850,300.000000,390.00000
max,1000.000000,1000.000000,2.0,116.705558,40.170217,2.351200,12.864000,330.000000,450.00000