In [84]:
import pandas as pd
data = pd.read_excel("../../Materials/input_node.xlsx")
distance = pd.read_

In [88]:
nbCus = 50

In [90]:
dis = data[data.type == 1]
cus = data[(data.ID >=1) & (data.ID <= nbCus)]
cag = data[data.type == 3]

In [92]:
cus.describe()

             ID  type  lng                   lat
count  50.00000  50.0             50.000000             50.000000
mean   25.50000   2.0            116.369596             39.938504
std    14.57738   0.0              0.148877              0.122115
min     1.00000   2.0            116.124201             39.713316
25%    13.25000   2.0            116.250773             39.848635
50%    25.50000   2.0            116.366081             39.922788
75%    37.75000   2.0            116.447516             40.025167
max    50.00000   2.0            116.678619             40.163925

In [80]:
cus.pack_total_volume.mean()

0.6682031000000004

In [81]:
cus.pack_total_weight.mean()

0.2802682639999997